@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

:root{
    --header-color: #5603ad;
    --side-bar-color: #CBBEEA;
    --main-content: #fff;
    --btn-color: #8367c7;
    --text-color: #02060B;
    --error-color: #B00020;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #f0fff1;
    width: 100%;
}

.project-header, h1, h2, .sidebar-heading{
    cursor: default;
}

p{
    margin: 0;
}

.layout{
    height: 100%;
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
    height: 100px;
    gap: 50px;
    background-color: var(--header-color);
    color: var(--main-content)
}

.menu-icon{
    margin-left: 30px;
}

.menu-icon,
.delete-icon,
.add-icon,
.checkbox{
    cursor: pointer;
    transition: transform 0.2s ease;
}

.menu-icon:hover,
.delete-icon:hover,
.add-icon:hover,
.checkbox:hover{
    transform: scale(1.1);
}

.menu-icon:active,
.delete-icon:active,
.add-icon:active,
.checkbox:active{
    transform: scale(0.9);
}

main{
    height: 100%;
    display: flex;
}

.sidebar{
    background-color: var(--side-bar-color);
    color: var(--text-color);
    font-size: 1.1rem;
    width: 400px;
    transition: width 0.4s ease-in-out;
}

.sidebar.hide{
    width: 0;
}

ul{
    padding: 0;
    margin: 0 auto;
    list-style: none;
    margin: 20px;
}

li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.project-title{
    margin-left: 20px;
}

.count{
    margin-left: auto;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.main-content{
    width: 100%;
    overflow: auto;
    background-color: var(--main-content);
}

.project-content{
    margin: 0 auto;
    width: 70%;
    height: 99%;
    overflow: auto;
}

ul.tasks{
    margin: 0 0 20px 0;
}

li.task{
    justify-content: flex-start;
    gap: 15px;
    margin: 5px 0;
}

li.task.strike{
    color: gray;
}

.delete-icon{
    color: var(--error-color);
    margin-left: auto;
}

.add-task{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.add-task.hide{
    display: none;
}

.add-task:hover{
    color: var(--header-color);
}

.new-task{
    margin: 5px;
    border-radius: 8px;
    padding: 16px;
    outline: 1px solid var(--header-color);
    height: 190px;
    transition: height 0.2s ease-out;
    overflow: hidden;
}

.new-task.hide{
    opacity: 0.2;
    height: 0;
    outline: 0;
    margin: 0;
    padding: 0 16px;
}

textarea[type="text"]{
    display: block;
    width: 100%;
    background: transparent;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    resize: none;
    line-height: 1.5rem;
}

textarea[type="text"]:focus{
    outline: 0;
}

textarea[type="text"].task-desc{
    font-size: 0.9rem;
    margin: 5px 0 15px 0;
}

.task-schedule,
.select-project{
    border: 1px solid var(--header-color);
    border-radius: 4px;
    font-family: inherit;
}

.task-schedule{
    margin: 0 20px 10px 0;
}

.select-project{
    height: 23px;
}

.btn{
    border: none;   
    padding: 5px 15px;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--btn-color);
    color: var(--main-content);
}

.btn.add{
    margin-right: 5px;
}





